// Custom styles.
.header { background: url(../images/header_background.jpg); }

.menu {
	background: rgba(255,255,255,0.65);
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border-radius: initial;
}

.site-title {
	line-height: 56px;
    font-size: 40px;
    color: rgb(245, 245, 245);
    font-family: "Lobster Two", "Roboto Slab", "PingFang SC", "Microsoft YaHei", sans-serif;
}

.brand {
	position: relative;
    display: inline-block;
    padding: 0 40px;
    color: #fff;
    background: rgba(34, 34, 34, 0.02);
    border-bottom: none;
}

